# 제목
## 3. 넘파이
모듈이란? 필요한 기능을 미리 만들어주고 가져다 쓰는 것

3.1 ndarry

다차원 배열

다차원 배열의 특징:

1. 리스트와 비교했을 때 계산 속도가 빠름

2. 리스트와 달리 모든 요소의 타입이 같음

In [3]:
# 먼저 numpy 모듈 가져오기
# 외부에 있는 모듈 파일을 가지고 올때는 import
# 모듈의 이름이 길때는 별칭 붙이기 as np
import numpy as np

In [9]:
# 넘파이 배열 만들기
# 입력값: 리스트
# 결과: 넘파이 배열
a = np.array([1,2,3])
a
b = np.array(['a','b','c'])
b

array(['a', 'b', 'c'], dtype='<U1')

2차원 배열

In [12]:
# 2차원 배열 생성
c = np.array([[1,2,3], [4,5,6]])
c
d = np.array([[1,2,3], [4,5,6], [7,8,9]])
d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [17]:
# 주석 단축키 : carl + /
# arrange : 숫자 여러개를 생성하는 함수
# 연속된 숫자 10개를 생성
# 개수만 넣으면 0부터 시작됨
a = np.arange(10)
# 1부터 10까지 생성
b = np.arange(1,11)
# 1부터 10까지 2씩 건너뛰면서 생성
c = np.arange(1,11,2)
c

array([1, 3, 5, 7, 9])

In [28]:
scores = np.array([85,90,78,92,88])
print(scores)
heights = np.array([160,165,170,180])
print(heights)
prices = np.array([1200,1500,1800,2100])
print(prices)
temps = np.array([20,22,19,25,30])
print(temps)

[85 90 78 92 88]
[160 165 170 180]
[1200 1500 1800 2100]
[20 22 19 25 30]

In [32]:
num = np.arange(5)
print(num)
num1 = np.arange(10)
print(num1)
num2 = np.arange(3, 8)
print(num2)
num3 = np.arange(-2, 3)
print(num3)

[0 1 2 3 4]
[0 1 2 3 4 5 6 7 8 9]
[3 4 5 6 7]
[-2 -1  0  1  2]

In [34]:
np.zeros(10)
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [36]:
# 3개 크기의 1차원 정수 배열 생성
# 파이썬의 리스트와 달리 넘파이 배열은 모든 원소의 자료형이 같다
a = np.array([1,2,3])
# 배열의 정보를 확인
print(a.dtype) # 자료형
print(a.ndim) # 배열의 차원
print(a.shape) # 행열 크기

int64
1
(3,)

In [100]:
# 2행 3열의 2차원 배열 생성
b = np.array([[1,2,3], [4,5,6]])
print(b.dtype)
print(b.ndim)
print(b.shape)

TypeError: 'list' object is not callable

In [42]:
# 실수형 1차원 배열 생성
arr = np.array([1.1, 2.1, 3.1])
# 자료형 확인
arr.dtype
# 배열의 형변환
# float -> int
arr2 = arr.astype(np.int32)
arr2
arr2.dtype

dtype('int32')

In [44]:
# 파이썬의 리스트 생성
lis = [1,2,3]
# 파이썬의 각 원소에 3씩 더하기
# 리스트의 원소에 하나씩 계산하려면 for 반복문을 사용해야한다
for i in lis:
    print(i+3)

4
5
6

In [45]:
# 넘파이 배열 생성
a = np.array([1,2,3])
# 각 원소에 3씩 더하기
a + 3

array([4, 5, 6])

In [46]:
a = np.array([1,2,3])
b = np.array([4,5,6])

# 배열 두개를 비교
a > b

array([False, False, False])

인덱스와 슬라이스

In [53]:
# 0~9 숫자 만들고 1차원 배열 생성
a = np.arange(10)
print(a)
a[1]
# 범위로 값 꺼내기 (슬라이스)
a[3:6]
# 원소 값 변경하기
# 두번째 원소의 값 변경하기
a[1] = 99
a
# 특정 범위에 있는 값을 모두 변경
# 3,4,5번째 데이터 변경
a[3:6] = 88
a

[0 1 2 3 4 5 6 7 8 9]

array([ 0, 99,  2, 88, 88, 88,  6,  7,  8,  9])

In [54]:
a[:] = 999
a

array([999, 999, 999, 999, 999, 999, 999, 999, 999, 999])

In [60]:
arr = np.array([10, 20, 30, 40, 50])
arr[0]

np.int64(10)

In [62]:
arr[2]

np.int64(30)

In [63]:
arr[4]

np.int64(50)

In [65]:
arr[1] = 200
arr

array([ 10, 200,  30,  40,  50])

In [66]:
arr[3] = 999
arr

array([ 10, 200,  30, 999,  50])

In [90]:
arr = np.array(['가','나','다','라','마'])
print(arr[1])

TypeError: 'list' object is not callable

TypeError: 'list' object is not callable

In [83]:
print(arr[3])

['라']

In [8]:
print(arr[4])

50

In [7]:
arr[0] = '하'
print(arr)

ValueError: invalid literal for int() with base 10: '하'

In [5]:
arr = np.array([10,20,30,40,50,60,70])
print(arr[:3])
arr[3:]
arr[1:5]

[10 20 30]

array([20, 30, 40, 50])

In [10]:
arr = np.array(['a','b','c','d','e','f','g'])

In [11]:
print(arr[0:3])

['a' 'b' 'c']

In [18]:
print(arr[3:])

['d' 'e' 'f' 'g']

In [15]:
print(arr[1:5])

['b' 'c' 'd' 'e']

2차원의 배열의 인덱싱

In [26]:
# 3행 3열 2차원 배열 생성
arr = np.array([[1,2,3], [4,5,6], [7,8,9]])
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [29]:
# 2차원 배열의 인덱스
# 행(인덱스)
# 열(컬럼)
# 첫번째 행 꺼내기
arr[0]

array([1, 2, 3])

In [33]:
# 1 꺼내기
arr[0][0]
# 9 꺼내기
arr[2][2]
# 5 꺼내기
arr[1][1] = 0
arr

array([[1, 2, 3],
       [4, 0, 6],
       [7, 8, 9]])

In [42]:
arr = np.array([[1,2,3], [4,5,6], [7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [47]:
# 행을 기준으로 슬라이스
arr[1:3, 1:3]

array([[5, 6],
       [8, 9]])

In [49]:
arr[1, 0:2]

array([4, 5])

In [52]:
arr = np.array([[10,20,30],[40,50,60],[70,80,90]])
arr

array([[10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]])

In [56]:
print(arr[0,1])

20

In [57]:
print(arr[2,0])

70

In [59]:
print(arr[1])

[40 50 60]

In [93]:
print(arr[:, 1:2])

[[20]
 [50]
 [80]]

In [87]:
arr[0,2] = 300 
arr

array([[ 10,  20, 300],
       [ 40,  50,  60],
       [ 70,  80,  90]])

In [97]:
arr = np.array([[1, 2, 3, 4],
                [5, 6, 7, 8],
                [9, 10, 11, 12],
                [13, 14, 15, 16]])
arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

arr[1,2]

In [100]:
arr[3,0]

np.int64(13)

In [101]:
arr[2]

array([ 9, 10, 11, 12])

In [103]:
arr[:, 3:]

array([[ 4],
       [ 8],
       [12],
       [16]])

In [105]:
arr[0,3] = 100
arr

array([[  1,   2,   3, 100],
       [  5,   6,   7,   8],
       [  9,  10,  11,  12],
       [ 13,  14,  15,  16]])

In [107]:
arr = np.array([[10, 20, 30],
                [40, 50, 60],
                [70, 80, 90]])
arr

array([[10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]])

In [119]:
arr[:1, 0:2]

array([[10, 20]])

In [121]:
arr[1:]

array([[40, 50, 60],
       [70, 80, 90]])

In [130]:
arr[:, 1:3]

array([[20, 30],
       [50, 60],
       [80, 90]])

불리언 인덱스
인덱스란? 데이터의 위치

In [132]:
# 학생 배열 생성
students = np.array([ '철수', '영희', '민수', '철수', '철수'])
# 학생들의 대출 이력
books = np.array([['수학의 정석', 7], ['해리포터', 10], ['파이썬 입문', 5], ['한국사', 5], ['데미안', 12]])

In [136]:
# 여기서 철수의 대출 이력만 조회하기
# 배열 == '비교값'
# 배열 전체에 철수를 비교
# 총 5번 비교하고 bool 배열 반환
arr = (students == '철수')
arr

array([ True, False, False,  True,  True])

In [138]:
# books 배열의 인덱스에 bool 배열 넣기
books[students == '철수']

array([['수학의 정석', '7'],
       ['한국사', '5'],
       ['데미안', '12']], dtype='<U21')

In [139]:
# 철수가 아닌 대출 이력 찾기
books[students != '철수']

array([['해리포터', '10'],
       ['파이썬 입문', '5']], dtype='<U21')

In [140]:
# '수학의 정석'을 찾아서 제목을 '자바의 정석'으로 바꾸기
books == '수학의 정석'
#
books[books == '수학의 정석'] = '자바의 정석'
books

array([['자바의 정석', '7'],
       ['해리포터', '10'],
       ['파이썬 입문', '5'],
       ['한국사', '5'],
       ['데미안', '12']], dtype='<U21')

In [143]:
# 대출 이력중에서 철수가 아닌 항목을 찾고
# 행 전체를 7로 바꾸기
students != '철수'
books[students != '철수'] = 7
books

array([['자바의 정석', '7'],
       ['7', '7'],
       ['7', '7'],
       ['한국사', '5'],
       ['데미안', '12']], dtype='<U21')

In [154]:
arr = np.array([10, 20, 30, 40, 50, 60, 70])
arr

array([10, 20, 30, 40, 50, 60, 70])

In [161]:
print(arr[arr > 30])

[40 50 60 70]

In [162]:
employees = np.array(['짱구', '철수', '유리', '맹구', '훈이'])

salaries = np.array([250, 320, 280, 400, 150])

In [164]:
employees == '맹구'
salaries[employees == '맹구']

array([400])

In [166]:
salaries >= 300

employees[salaries >= 300]

array(['철수', '맹구'], dtype='<U2')

In [194]:
employees = salaries < 200
employees[salaries < 200] = 200
salaries

array([250, 320, 280, 400, 150])

In [197]:
# 1~9 숫자가 담긴 1차원 배열 생성
# reshape : 배열의 형태를 바꾸는 함수
# 1차원 -> 2차원
# 3행 3열 크기의 배열로 변환
print(np.arange(1,10))
arr = np.arange(1,10).reshape(3.3)
arr

[1 2 3 4 5 6 7 8 9]

TypeError: expected a sequence of integers or a single integer, got '3.3'

In [198]:
# 1~16 숫자가 담긴 1차원 배열
# 1차원 -> 2차원
print(np.arange(1,17))
a = np.arange(1,17).reshape(4,4)
a

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [199]:
# 1~12 1차원 배열
# 이 배열을 3행 4열 배열로 변환
print(np.arange(1,13))
a = np.arange(1,13).reshape(3,4)
a

[ 1  2  3  4  5  6  7  8  9 10 11 12]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [201]:
print(np.arange(0, 12))
a = np.arange(0,12).reshape(3,4)
a

[ 0  1  2  3  4  5  6  7  8  9 10 11]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [202]:
print(np.arange(1, 17))
a = np.arange(1,17).reshape(4,4)
a

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [203]:
print(np.arange(1, 21))
a = np.arange(1,21).reshape(5,4)
a

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20]])

In [206]:
print(np.arange(10, 26))
a = np.arange(10,26).reshape(4,4)
a

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25]

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21],
       [22, 23, 24, 25]])

In [207]:
# 랜덤값 만들기
# 표준 정규 분포: 표준 편차가 1인 그래프에서 랜덤값을 생성 (-3 ~ 3)
# 랜덤값 10개 생성
arr = np.random.standard_normal(size=10)
arr

array([-1.41976872, -1.30422672,  0.27672419, -0.27109513,  0.24353594,
        1.8064905 ,  0.47085591, -0.42352136,  0.2639637 ,  1.15948226])

In [208]:
# 균일 분포: 범위 0~1. 모든 값이 같은 확률로 나옴
arr = np.random.uniform(size=10)
arr

array([0.15605863, 0.88339319, 0.29011317, 0.35103984, 0.95911078,
       0.28203758, 0.85482488, 0.7243087 , 0.66727906, 0.44306597])

In [211]:
arr = np.random.standard_normal(size=5)
arr

array([-0.03850897, -2.35942235, -0.69290171, -1.68319991, -1.85441778])

In [213]:
arr = np.random.uniform(size=5)
arr

array([0.52771067, 0.54588882, 0.87889222, 0.63419549, 0.88696106])

In [214]:
# 0~9 숫자가 담긴 1차원 배열 생성
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [216]:
# 파이썬의 리스트는 for문을 사용해서 계산해야함
# 넘파이의 배열은 for문 없이 계산 가능
# 배열 전체에 3 더하기
# add : 더하기
np.add(arr, 3)

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [219]:
a = np.array([1,7,2,4,10])
b = np.array([3,4,5,6,7])

# 두 배열을 비교하여 더 큰 값 저장하기
np.maximum(a, b)

array([ 3,  7,  5,  6, 10])

조건문

In [220]:
# 배열 두개 만들기
a = np.array([1,2,3])
b = np.array([10,20,30])
# 불리언 배열 만들기 (조건)
cond = np.array([True, True, False])

In [221]:
# where(조건, 참일때 값, 거짓일때 값): 조건문 쓰기
# 조건이 참이면 a에서 값을 선택, 거짓이면 b에서 값을 선택
# where는 삼항연산자와 비슷
result = np.where(cond, a, b)
result

array([ 1,  2, 30])

In [226]:
# 1차원 배열 생성
arr = np.array([-2, -1, 0, 1, 2])

# 양수면 'o' 음수면 'x'로 반환 
# 조건, 참일때 값, 거짓일때 값
# 조건이 true면 o를 선택, false면 x를 선택
print(arr > 0)
np.where(arr > 0, 'o', 'x')

# 조건 배열 만들기

[False False False  True  True]

array(['x', 'x', 'x', 'o', 'o'], dtype='<U1')

In [239]:
arr = np.array([5, 12, 7, 20, 3])

print(arr > 10)
np.where(arr > 10, 100, 0)

[False  True False  True False]

array([  0, 100,   0, 100,   0])

In [240]:
arr = np.array([15,8,22,6,13])
print (arr %2 == 0)
np.where(arr %2 == 0, 1, -1)

[False  True  True  True False]

array([-1,  1,  1,  1, -1])

In [241]:
arr = np.array([10,20,30,40,50])
arr2 = np.array([1,2,3,4,5])
cond = np.array([True, False, True, False, True])

np.where(cond, arr, arr2)

array([10,  2, 30,  4, 50])

In [244]:
lis = [1,2,3,4,5]

sum = 0
for n in lis:
    sum = sum + n
# 총합
print(sum)
# 평균
print(sum/len(lis))

15
3.0

In [249]:
# 넘파이 배열로 합게와 평균 구하기
arr = np.array([1,2,3,4,5])
print(np.sum(arr))
print(np.mean(arr))
# 배열에서 제일 큰 값
print(np.max(arr))
# 배열에서 제일 작은 값
print(np.min(arr))

15
3.0
5
1

In [269]:
arr = np.array(['김밥','라면','떡볶이','치킨'])
arr2 = np.array([250,550,400,800])
print(np.sum(arr2))
print(np.mean(arr2))
print(np.max(arr2))
print(np.min(arr2))

2000
500.0
800
250

행/열 단위로 합계 구하기

In [278]:
arr = np.arange(1,10).reshape(3,3)
print(arr)

# 배열의 합계 구하기
arr.sum()
# 2차원 배열에서 행 또는 열 방향으로 합 구하기
# axis:0 -> 세로 방향으로 합 계산
arr.sum(axis=0)
# axis=1 -> 가로 방향으로 합 계산
arr.sum(axis=1)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

array([ 6, 15, 24])

In [280]:
# 누적값 구하기
arr = np.array([1,2,3,4,5])
arr.cumsum()

array([ 1,  3,  6, 10, 15])

In [285]:
# 3행 3열 2차원 배열 생성
arr = np.array([[0,1,2], [3,4,5], [6,7,8]])
print(arr)
# 2차원 배열의 누적값 구하기
# 기준 설정 (세로방향 위->아래)
# 앞에 있는 수를 더한 결과
print(arr.cumsum(axis=0))
# 가로 방향
print(arr.cumsum(axis=1))

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[ 0  1  2]
 [ 3  5  7]
 [ 9 12 15]]
[[ 0  1  3]
 [ 3  7 12]
 [ 6 13 21]]