In [201]:
import numpy as np
import pandas as pd

In [176]:
df = pd.read_csv('quiz/products.csv')
df

   상품명    가격  재고
0   사과  3000  10
1  바나나  2000  20
2   포도  4000  15
3   딸기  5000   8

In [177]:
df = df.set_index('상품명')
df.index

Index(['사과', '바나나', '포도', '딸기'], dtype='object', name='상품명')

In [178]:
df.loc['사과', '가격']

np.int64(3000)

In [179]:
df.loc['바나나', '재고']

np.int64(20)

In [180]:
df.loc['포도', '가격'] = 4500
df

       가격  재고
상품명
사과   3000  10
바나나  2000  20
포도   4500  15
딸기   5000   8

In [28]:
df.loc['딸기', '재고'] = 10
df

       가격  재고
상품명
사과   3000  10
바나나  2000  20
포도   4500  15
딸기   5000  10

In [36]:
df = pd.read_csv('quiz/sales.csv', encoding= 'euc-kr') 
df = df.set_index('month')
print(df)
print(df.index)
print(df.columns)

       sales  profit
month
1월      1000     200
2월      1500     300
3월      2000     400
4월      2500     500
Index(['1월', '2월', '3월', '4월'], dtype='object', name='month')
Index(['sales', 'profit'], dtype='object')

In [37]:
df['sales']

month
1월    1000
2월    1500
3월    2000
4월    2500
Name: sales, dtype: int64

In [39]:
# 2월의 전체 데이터를 출력하세요
# -> 행 하나 조회
# loc iloc []
df.loc['2월', :]
df.loc['2월']

sales     1500
profit     300
Name: 2월, dtype: int64

In [40]:
df['profit']
# 통계 함수 (sum mean max min)
# numpy의 다차원 배열과 pandas의 시리즈, 데이터프레임은 모두
# 통계함수를 사용 할 수 있다
type(df['profit'])
# profit 컬럼의 합계와 평균 구하기
print(df['profit'].sum())
print(df['profit'].mean())

1400
350.0

In [45]:
# 이윤이 300 이상인 행만 출력
# -> 조건 검색
# 시리즈 >= int
df['profit'] >= 300 # bool 배열 반환
# 시리즈에 bool 배열을 인덱스로 사용
df[df['profit'] >= 300]

       sales  profit
month
2월      1500     300
3월      2000     400
4월      2500     500

In [181]:
df = pd.read_csv('quiz/weather.csv', encoding='euc-kr')
df = df.set_index('city')
df['spring']

city
서울    15
부산    17
인천    14
대구    18
Name: spring, dtype: int64

In [182]:
int(df['winter'].mean())

2

In [183]:
# 여름 기온이 28도 이상인 도시만 출력
df[df['summer'] >= 28]

      spring  summer  winter
city
서울        15      28       2
부산        17      29       5
대구        18      30       1

JSON 파일 불러오기1  
<small>
    파이썬의 딕셔너리와 구조가 비슷<br>
    key:value<br>
    json 파일을 파싱한다 =><br>
    json 데이터를 파이썬에서 사용 할 수 있는 형태로 변환한다<br>
    json 작성 방법: <br>
    key:value <br>
    object : {} <br>
    list : []
    </small>

In [94]:
import json
# 파이썬 방식으로 파일 열기
f = open('sample/sample3.json', 'r')
# json 모듈로 파일을 딕셔너리로 변환
dic = json.load(f)
dic

{'id': 101, 'name': 'alice', 'age': 30}

JSON 파일 불러오기2

In [97]:
# 파이썬 방식으로 파일 불러오기
f = open('sample/sample4.json', 'r', encoding='utf-8')
# json 파일을 딕셔너리로 변환
dic = json.load(f)
dic

{'name': '홍길동', 'age': 25, 'city': '서울'}

In [102]:
# 딕셔너리에서 키와 값 꺼내기
dic.items()
for key, value in dic.items():
    print(key, value)

name 홍길동
age 25
city 서울

JSON 파일 불러오기3

In [107]:
# JSON 파일 불러오기 (1)
f = open('sample/sample5.json', 'r', encoding='utf-8')
dic = json.load(f)
dic

[{'name': '홍길동', 'age': 25, 'city': '서울'},
 {'name': '김철수', 'age': 30, 'city': '부산'}]

In [114]:
# JSON 파일 불러오기 (2)
# 판다스를 사용해서 파일을 바로 dataframe으로 변환
# 단건 데이터는 데이터프레임으로 변환 할 수 없다
# 리스트 데이터만 데이터프레임으로 변환 할 수 있다
df = pd.read_json('sample/sample5.json')
df
# 데이터 꺼내기
# 홍길동의 나이
df.loc[0, 'age']
# 김철수의 모든 데이터 꺼내기
df.loc[1]

name    김철수
age      30
city     부산
Name: 1, dtype: object

In [130]:
df = pd.read_json('quiz/products.json')
df
# 상품명을 인덱스로 설정
df = df.set_index('상품명')

# 가격이 3000원 이상인 상품만 출력 => 조건검색
# 식 만들기
df['총합'] = df['가격'] * df['재고'] 
print(df['가격'] * df['재고'])
df

상품명
사과     30000
바나나    40000
포도     60000
딸기     40000
dtype: int64

       가격  재고     총합
상품명
사과   3000  10  30000
바나나  2000  20  40000
포도   4000  15  60000
딸기   5000   8  40000

In [132]:
df.loc['딸기','가격'] = 6000
df

       가격  재고     총합
상품명
사과   3000  10  30000
바나나  2000  20  40000
포도   4000  15  60000
딸기   6000   8  40000

In [133]:
df = df.drop('재고', axis=1)
df

       가격     총합
상품명
사과   3000  30000
바나나  2000  40000
포도   4000  60000
딸기   6000  40000

In [197]:
df = pd.read_json('quiz/books.json')
print(df)
df

          제목   저자     가격  대출가능권수
0  데이터 분석 입문  김철수  18000       3
1  파이썬 프로그래밍  이영희  22000       5
2    머신러닝 기초  박민수  25000       2
3    인공지능 시대  최지연  30000       1
4  데이터베이스 개론  홍길동  20000       4

          제목   저자     가격  대출가능권수
0  데이터 분석 입문  김철수  18000       3
1  파이썬 프로그래밍  이영희  22000       5
2    머신러닝 기초  박민수  25000       2
3    인공지능 시대  최지연  30000       1
4  데이터베이스 개론  홍길동  20000       4

In [198]:
df = df.set_index('제목')
df['가격'] >= 20000

제목
데이터 분석 입문    False
파이썬 프로그래밍     True
머신러닝 기초       True
인공지능 시대       True
데이터베이스 개론     True
Name: 가격, dtype: bool

In [199]:
df[df['가격'] >= 20000]

            저자     가격  대출가능권수
제목
파이썬 프로그래밍  이영희  22000       5
머신러닝 기초    박민수  25000       2
인공지능 시대    최지연  30000       1
데이터베이스 개론  홍길동  20000       4

In [202]:
df = pd.read_csv('인천광역시_정류장별 이용승객 현황_20250731.csv', encoding='euc-kr')

FileNotFoundError: [Errno 2] No such file or directory: '인천광역시_정류장별 이용승객 현황_20250731.csv'