In [2]:
import numpy as np
import pandas as pd

In [176]:
df = pd.read_csv('quiz/products.csv')
df

   상품명    가격  재고
0   사과  3000  10
1  바나나  2000  20
2   포도  4000  15
3   딸기  5000   8

In [177]:
df = df.set_index('상품명')
df.index

Index(['사과', '바나나', '포도', '딸기'], dtype='object', name='상품명')

In [178]:
df.loc['사과', '가격']

np.int64(3000)

In [179]:
df.loc['바나나', '재고']

np.int64(20)

In [180]:
df.loc['포도', '가격'] = 4500
df

       가격  재고
상품명
사과   3000  10
바나나  2000  20
포도   4500  15
딸기   5000   8

In [28]:
df.loc['딸기', '재고'] = 10
df

       가격  재고
상품명
사과   3000  10
바나나  2000  20
포도   4500  15
딸기   5000  10

In [36]:
df = pd.read_csv('quiz/sales.csv', encoding= 'euc-kr') 
df = df.set_index('month')
print(df)
print(df.index)
print(df.columns)

       sales  profit
month
1월      1000     200
2월      1500     300
3월      2000     400
4월      2500     500
Index(['1월', '2월', '3월', '4월'], dtype='object', name='month')
Index(['sales', 'profit'], dtype='object')

In [37]:
df['sales']

month
1월    1000
2월    1500
3월    2000
4월    2500
Name: sales, dtype: int64

In [39]:
# 2월의 전체 데이터를 출력하세요
# -> 행 하나 조회
# loc iloc []
df.loc['2월', :]
df.loc['2월']

sales     1500
profit     300
Name: 2월, dtype: int64

In [40]:
df['profit']
# 통계 함수 (sum mean max min)
# numpy의 다차원 배열과 pandas의 시리즈, 데이터프레임은 모두
# 통계함수를 사용 할 수 있다
type(df['profit'])
# profit 컬럼의 합계와 평균 구하기
print(df['profit'].sum())
print(df['profit'].mean())

1400
350.0

In [45]:
# 이윤이 300 이상인 행만 출력
# -> 조건 검색
# 시리즈 >= int
df['profit'] >= 300 # bool 배열 반환
# 시리즈에 bool 배열을 인덱스로 사용
df[df['profit'] >= 300]

       sales  profit
month
2월      1500     300
3월      2000     400
4월      2500     500

In [181]:
df = pd.read_csv('quiz/weather.csv', encoding='euc-kr')
df = df.set_index('city')
df['spring']

city
서울    15
부산    17
인천    14
대구    18
Name: spring, dtype: int64

In [182]:
int(df['winter'].mean())

2

In [183]:
# 여름 기온이 28도 이상인 도시만 출력
df[df['summer'] >= 28]

      spring  summer  winter
city
서울        15      28       2
부산        17      29       5
대구        18      30       1

JSON 파일 불러오기1  
<small>
    파이썬의 딕셔너리와 구조가 비슷<br>
    key:value<br>
    json 파일을 파싱한다 =><br>
    json 데이터를 파이썬에서 사용 할 수 있는 형태로 변환한다<br>
    json 작성 방법: <br>
    key:value <br>
    object : {} <br>
    list : []
    </small>

In [94]:
import json
# 파이썬 방식으로 파일 열기
f = open('sample/sample3.json', 'r')
# json 모듈로 파일을 딕셔너리로 변환
dic = json.load(f)
dic

{'id': 101, 'name': 'alice', 'age': 30}

JSON 파일 불러오기2

In [97]:
# 파이썬 방식으로 파일 불러오기
f = open('sample/sample4.json', 'r', encoding='utf-8')
# json 파일을 딕셔너리로 변환
dic = json.load(f)
dic

{'name': '홍길동', 'age': 25, 'city': '서울'}

In [102]:
# 딕셔너리에서 키와 값 꺼내기
dic.items()
for key, value in dic.items():
    print(key, value)

name 홍길동
age 25
city 서울

JSON 파일 불러오기3

In [107]:
# JSON 파일 불러오기 (1)
f = open('sample/sample5.json', 'r', encoding='utf-8')
dic = json.load(f)
dic

[{'name': '홍길동', 'age': 25, 'city': '서울'},
 {'name': '김철수', 'age': 30, 'city': '부산'}]

In [114]:
# JSON 파일 불러오기 (2)
# 판다스를 사용해서 파일을 바로 dataframe으로 변환
# 단건 데이터는 데이터프레임으로 변환 할 수 없다
# 리스트 데이터만 데이터프레임으로 변환 할 수 있다
df = pd.read_json('sample/sample5.json')
df
# 데이터 꺼내기
# 홍길동의 나이
df.loc[0, 'age']
# 김철수의 모든 데이터 꺼내기
df.loc[1]

name    김철수
age      30
city     부산
Name: 1, dtype: object

In [130]:
df = pd.read_json('quiz/products.json')
df
# 상품명을 인덱스로 설정
df = df.set_index('상품명')

# 가격이 3000원 이상인 상품만 출력 => 조건검색
# 식 만들기
df['총합'] = df['가격'] * df['재고'] 
print(df['가격'] * df['재고'])
df

상품명
사과     30000
바나나    40000
포도     60000
딸기     40000
dtype: int64

       가격  재고     총합
상품명
사과   3000  10  30000
바나나  2000  20  40000
포도   4000  15  60000
딸기   5000   8  40000

In [132]:
df.loc['딸기','가격'] = 6000
df

       가격  재고     총합
상품명
사과   3000  10  30000
바나나  2000  20  40000
포도   4000  15  60000
딸기   6000   8  40000

In [133]:
df = df.drop('재고', axis=1)
df

       가격     총합
상품명
사과   3000  30000
바나나  2000  40000
포도   4000  60000
딸기   6000  40000

In [197]:
df = pd.read_json('quiz/books.json')
print(df)
df

          제목   저자     가격  대출가능권수
0  데이터 분석 입문  김철수  18000       3
1  파이썬 프로그래밍  이영희  22000       5
2    머신러닝 기초  박민수  25000       2
3    인공지능 시대  최지연  30000       1
4  데이터베이스 개론  홍길동  20000       4

          제목   저자     가격  대출가능권수
0  데이터 분석 입문  김철수  18000       3
1  파이썬 프로그래밍  이영희  22000       5
2    머신러닝 기초  박민수  25000       2
3    인공지능 시대  최지연  30000       1
4  데이터베이스 개론  홍길동  20000       4

In [198]:
df = df.set_index('제목')
df['가격'] >= 20000

제목
데이터 분석 입문    False
파이썬 프로그래밍     True
머신러닝 기초       True
인공지능 시대       True
데이터베이스 개론     True
Name: 가격, dtype: bool

In [199]:
df[df['가격'] >= 20000]

            저자     가격  대출가능권수
제목
파이썬 프로그래밍  이영희  22000       5
머신러닝 기초    박민수  25000       2
인공지능 시대    최지연  30000       1
데이터베이스 개론  홍길동  20000       4

In [7]:
df = pd.read_csv('sample/인천광역시_정류장별 이용승객 현황_20250731.csv', encoding='euc-kr')
df

,정류소명,정류소아이디,총승차건수,총하차건수,승차건수(카드),하차건수(카드),승차건수(현금),일평균승하차건수
0,(구)주안2동치안센터,37302,7704,4576,7704,4576,0,396
1,(주)경동세라믹스,89146,868,10,868,10,0,28
2,(주)경인양행앞,42096,1670,1030,1670,1030,0,87
3,(주)경인양행앞,42097,2131,5063,2131,5063,0,232
4,(주)대한특수금속,39050,1218,150,1218,150,0,44
...,...,...,...,...,...,...,...,...
6666,힐스테이트학익104동앞,37670,10904,5985,10904,5985,0,544
6667,힐캐슬프라자,39329,13176,19090,13176,19090,0,1040
6668,힐캐슬프라자,39331,20701,10906,20701,10906,0,1019
6669,힘찬병원,40891,5907,8183,5907,8183,0,454
6670,힘찬병원,40892,4912,3424,4912,3424,0,268

In [21]:
df = pd.read_csv('quiz/인천광역시 중구_공영주차장 현황_20250601.csv')
df

,주차장관리번호,주차장명,주차장구분,주차장유형,소재지도로명주소,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,...,1일주차권요금,월정기권요금,결제방법,특기사항,관리기관명,전화번호,위도,경도,장애인전용주차구역보유여부,데이터기준일자
0,161-2-000169,을왕리 공영주차장,공영,노외,인천광역시 중구 용유서로 297-3,인천광역시 중구 을왕동 711-3,138,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.444765,126.376048,Y,2025-06-01
1,161-2-000170,왕산 공영주차장,공영,노외,인천광역시 중구 용유서로423번길 4,인천광역시 중구 을왕동 776-14,186,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.455910,126.371510,Y,2025-06-01
2,161-2-000171,무의(광명항) 공영주차장,공영,노외,NaN,인천광역시 중구 무의동 50-18,180,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7797,37.379153,126.432902,Y,2025-06-01
3,161-1-000172,영종역일원(노상) 공영주차장,공영,노상,NaN,인천광역시 중구 운북동 464,103,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.510818,126.524106,Y,2025-06-01
4,161-1-000173,공항신도시 공영주차장,공영,노상,NaN,인천광역시 중구 운서동 2818,224,2,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.494289,126.481847,Y,2025-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,161-1-000011,신포로35번길제3노상주차장,공영,노상,인천광역시 중구 신포로39번길 15(송학동3가),인천광역시 중구 송학동3가 7-13,3,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472493,126.625052,N,2025-06-01
166,161-1-000012,신포로노상주차장,공영,노상,인천광역시 중구 송학로 42(내동),인천광역시 중구 내동 2-26,10,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.474643,126.627076,N,2025-06-01
167,161-1-000013,신포로35번길제4노상주차장,공영,노상,"인천광역시 중구 신포로35번길 54(송학동2가, 동국빌리지)",인천광역시 중구 송학동2가 16,19,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.473292,126.623605,N,2025-06-01
168,161-1-000014,신포로23번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,23,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01
169,161-1-000015,신포로15번길제2노상주차장,공영,노상,인천광역시 중구 신포로23번길 52(중앙동3가),인천광역시 중구 중앙동3가 3-13,22,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7689,37.472488,126.622474,N,2025-06-01

In [22]:
df['주차구획수'] >= 100
df[df['주차구획수'] >= 100]

,주차장관리번호,주차장명,주차장구분,주차장유형,소재지도로명주소,소재지지번주소,주차구획수,급지구분,부제시행구분,운영요일,...,1일주차권요금,월정기권요금,결제방법,특기사항,관리기관명,전화번호,위도,경도,장애인전용주차구역보유여부,데이터기준일자
0,161-2-000169,을왕리 공영주차장,공영,노외,인천광역시 중구 용유서로 297-3,인천광역시 중구 을왕동 711-3,138,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.444765,126.376048,Y,2025-06-01
1,161-2-000170,왕산 공영주차장,공영,노외,인천광역시 중구 용유서로423번길 4,인천광역시 중구 을왕동 776-14,186,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.455910,126.371510,Y,2025-06-01
2,161-2-000171,무의(광명항) 공영주차장,공영,노외,NaN,인천광역시 중구 무의동 50-18,180,기타,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-760-7797,37.379153,126.432902,Y,2025-06-01
3,161-1-000172,영종역일원(노상) 공영주차장,공영,노상,NaN,인천광역시 중구 운북동 464,103,3,요일제,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.510818,126.524106,Y,2025-06-01
4,161-1-000173,공항신도시 공영주차장,공영,노상,NaN,인천광역시 중구 운서동 2818,224,2,미시행,평일+토요일+공휴일,...,NaN,NaN,NaN,NaN,인천광역시 중구청,032-763-8146,37.494289,126.481847,Y,2025-06-01
8,161-2-000155,차이나타운공영주차장,공영,노외,인천광역시 중구 차이나타운로44번길 28-12,인천광역시 중구 북성동2가 12-36,186,1,미시행,평일+토요일+공휴일,...,10000.0,100000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.476054,126.618355,Y,2025-06-01
9,161-2-000157,월미도제2공영주차장,공영,노외,NaN,인천광역시 중구 북성동1가 97-32,136,2,미시행,평일+토요일+공휴일,...,6000.0,60000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.477431,126.598529,Y,2025-06-01
16,161-2-000165,동화마을공영주차장,공영,노외,인천광역시 중구 제물량로 307-1,인천광역시 중구 송월동2가 4,100,1,미시행,평일+토요일+공휴일,...,10000.0,NaN,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.479024,126.618624,Y,2025-06-01
19,161-3-000168,중구청사 부설주차장,공영,부설,인천광역시 중구 신포로27번길 80,인천광역시 중구 관동1가 9-1,159,1,요일제,평일+토요일+공휴일,...,10000.0,NaN,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.474081,126.621340,Y,2025-06-01
31,161-2-000148,구인천여고공영주차장,공영,노외,인천광역시 중구 참외전로 100,인천광역시 중구 전동 2-5,102,3,미시행,평일+토요일+공휴일,...,4000.0,40000.0,현금+신용카드,NaN,인천광역시 중구청,032-579-2701,37.477113,126.629501,Y,2025-06-01
45,161-2-000131,인하대병원사거리공영주차장,공영,노외,인천광역시 중구 아암대로 12(신흥동3가),인천광역시 중구 신흥동3가 7-317,101,2,미시행,평일+토요일+공휴일,...,6000.0,60000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.459986,126.637497,Y,2025-06-01
58,161-2-000114,한중문화관공영주차장,공영,노외,NaN,인천광역시 중구 항동2가 1-1,109,1,미시행,평일+토요일+공휴일,...,10000.0,100000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.473104,126.619040,Y,2025-06-01
64,161-2-000120,해양광장공영주차장,공영,노외,인천광역시 중구 연안부두로36,인천광역시 중구 항동7가 58-1,220,1,미시행,평일+토요일+공휴일,...,10000.0,100000.0,현금+신용카드,NaN,인천광역시 중구청,032-763-8146,37.455496,126.601827,Y,2025-06-01

In [23]:
df['평일운영종료시각'] = 21:00

SyntaxError: invalid syntax (1301589274.py, line 1)